<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>맵</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">

	<style>
    body {
      font-family: 'Jua', sans-serif !important;
    }
    /* 피드창 */
    div .head {
      display: inline-block;
      margin-top: 10px;
    }
    #feed {
      background: #333;
      width: 400px;
      height: 100%;
      top: 0;
      left: -400px;
      position: fixed;
    }
    #login {
      background: #333;
      width: 400px;
      height: 100%;
      top: 0;
      left: -400px;
      position: fixed;
    }
    #signup {
      background: #333;
      width: 400px;
      height: 100%;
      top: 0;
      left: -400px;
      position: fixed;
    }
		/* 사이드바 스타일 */
		.sidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgb(0,154,200);
			overflow-x: hidden;
			transition:0.5s ease-in-out;
			padding-top: 60px;
		}
		.sidenav a {
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #fff;
			display: block;
			transition: 0.2s ease-in-out;
		}
		.sidenav a:hover, .offcanvas a:focus {
			color: #000;
		}
		.closebtn {
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px !important;
			margin-left: 50px;
		}
		.openmenu:hover {
			color:rgb(0,154,200);
			transition:0.5s ease-in-out;
		}
		.openmenu {
			font-size: 25px;
			cursor:pointer;
			transition:0.5s ease-in-out;
		}
		.openmenu > i {
			font-size: 30px;
		}
		/* 미디어쿼리 적용 */
		@media screen and (max-height:450px) {
			.sidenav {
				padding-top:15px;
			}
			.sidenav a {
				font-size: 18px;
			}
		}
    .out {
      font-family: 'Jua', sans-serif !important;
      text-align: center;
    }
    .mainarticle {
      display: inline-block;
      margin: 0 auto;
    }
    #sidebar {
      font-family: 'Jua', sans-serif !important;
      width: 100px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      background: black;
      color: #fff !important;
    }
    #sidebar li {
      color: white !important;
    }
    #sidebar li:hover {
      color: deepskyblue !important;
      text-decoration: none !important;
      cursor: pointer;
    }
    #sidebar a {
      color: white !important;
    }
    #sidebar a:hover {
      color: white !important;
      text-decoration: none;
    }
    article {
      display: block;
      width: 100%;
    }
    aside {
      margin : 0 auto;
    }
  </style>
</head>
<body>
  <!-- Page Content -->
  <div id="vmap" style="widows: 100vw; height: 100vh;"></div>

  <!-- Sidebar -->
  <nav id="sidebar" style="text-align: center;">
    <ul class="list-unstyled" style="margin-top: 30px;">
      <li class="active">
        <ul class="list-unstyled">
          <li>
            <span id="feed-on"><i class="fas fa-shoe-prints" style="font-size: 300%;"></i><p style="margin-top: 10px; font-size: 120%;">피드</p></span>
          </li>
          <li style="margin-top: 10px;">
            <span id="login-on"><i class="fas fa-sign-in-alt" style="font-size: 300%;"></i><p style="margin-top: 7px; font-size: 120%;">로그인</p></span>
          </li>
          <li style="margin-top: 10px;">
            <span id="signup-on"><i class="fas fa-user-plus" style="font-size: 300%;"></i><p style="margin-top: 10px; font-size: 120%;">회원가입</p></span>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Feed -->
  <div class="out" style="overflow-y:scroll; overflow-x:hidden" id="feed">
    <div class="head" style="color : #999999; font-size: 50px;" >Feed</div>
    <article style="align-content: center;">
      <div class="mainarticle">
        <img src="images/brand.png" width="150">
      </div>
    </article>
    <ul>
    </ul>
  </div>

  <!-- Login -->
  <div class="out" style="overflow-y:scroll; overflow-x:hidden" id="login">
    <article style="align-content: center;">
      <div class="mainarticle">
        <img src="images/brand.png" width="150">
        <form method="POST" action="/auth/login">
          <input type="text" class="form-control" name="email" id="email" placeholder="아이디">
          <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호" style="margin-top: 10px;">
          <input type="submit" class="btn btn-success btn-block" style="margin-top: 20px; font-size: 120%;">로그인</button>
        </form>
        <a href="/auth/google" class="btn btn-danger" style="display: block; margin-top: 30px; font-size: 120%;">
          <i class="fab fa-google" style="margin-right: 10px;"></i>구글 로그인
        </a>
        <a href="#" class="btn btn-primary" style="display: block; margin-top: 5px; font-size: 120%;">
          <i class="fab fa-facebook-f" style="margin-right: 10px;"></i>페이스북 로그인
        </a>
        <a href="#" class="btn btn-warning" style="display: block; margin-top: 5px; font-size: 120%;">
          <i class="fab fa-kickstarter-k" style="margin-right: 10px;"></i>카카오 로그인
        </a>
      </div>
    </article>
    <ul>
    </ul>
  </div>

  <!-- Sign up -->
  <div class="out" style="overflow-y:scroll; overflow-x:hidden" id="signup">
    <div class="head" style="color : #999999; font-size: 50px;" >Sign up</div>
    <article style="align-content: center;">
      <div class="mainarticle">
        <img src="images/brand.png" width="150">
        <form method="POST" action="/auth/join">
          <input type="email" class="form-control" name="email" id="email" placeholder="이메일">
          <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호" style="margin-top: 10px;">
          <input type="text" class="form-control" name="nickname" id="nickname" placeholder="닉네임" style="margin-top: 10px;">
          <input type="text" class="form-control" name="token" id="token" placeholder="활성화" style="margin-top: 10px;">
          <input type="text" class="form-control" name="gender" id="gender" placeholder="gender" style="margin-top: 10px;">
          <input type="submit" class="btn btn-success btn-block" style="margin-top: 20px; font-size: 120%;">
        </form>
        <a href="/auth/google" class="btn btn-danger" style="display: block; margin-top: 30px; font-size: 120%;">
          <i class="fab fa-google" style="margin-right: 10px;"></i>구글 로그인
      </div>
    </article>
    <ul>
    </ul>
  </div>

  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
  <script type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=290FB31C-CF30-3B8B-AB6E-99AC09251DBD"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    vw.ol3.MapOptions = {
        basemapType: vw.ol3.BasemapType.GRAPHIC
      , controlDensity: vw.ol3.DensityType.EMPTY
      , interactionDensity: vw.ol3.DensityType.BASIC
      , controlsAutoArrange: true
      , homePosition: vw.ol3.CameraPosition
      , initPosition: vw.ol3.CameraPosition
    };

    var vmap = new vw.ol3.Map("vmap",  vw.ol3.MapOptions); 
    
    function move(x,y,z) {
    var _center = [ x, y ];
    
    var z = z;
    var pan = ol.animation.pan({
      duration : 2000,
      source : (vmap.getView().getCenter())
    });
    vmap.beforeRender(pan);
    vmap.getView().setCenter(_center);
    setTimeout("fnMoveZoom()", 3000);
    }
    
    function fnMoveZoom() {
    zoom = vmap.getView().getZoom();
    if (16 > zoom) {
      vmap.getView().setZoom(14);
    }
    }

    vmap.on('click', function (evt) { 
      addMarkerLayer(evt.coordinate);
    });

    function addMarkerLayer(input) {
      markerLayer = new vw.ol3.layer.Marker(vmap);
      vmap.addLayer(markerLayer);
      addMarker(input);
    }

    function addMarker(input) {
      vw.ol3.markerOption = {
      x : input[0],
      y : input[1],
      epsg : "EPSG:900913",
      title : '테스트마커2',
      contents : '테스트마커2 본문내용<br>테스트마커2 본문내용',
      iconUrl : 'http://map.vworld.kr/images/ol3/marker_blue.png', 
      text : {
        offsetX: 0.5, //위치설정
        offsetY: 20,   //위치설정
        font: '12px Calibri,sans-serif',
        fill: {color: '#000'},
        stroke: {color: '#fff', width: 2},
        text: '테스트마커2'
      },
      attr: {"id":"maker02","name":"속성명2"}  
      };
      markerLayer.addMarker(vw.ol3.markerOption);
    }
  </script>

  <script type="text/javascript">
    $(function() {
      var duration = 300;

      var sidebar = $("#sidebar");
      var side_feed = $("#feed");
      var side_login = $("#login");
      var side_signup = $("#signup");

		  sidebar.find('#feed-on').on('click', function() {
        side_feed.toggleClass('open');

        if (side_feed.hasClass('open')) {
          side_feed.stop(true).animate({left:'100px'}, duration);
        } else {
          side_feed.stop(true).animate({left:'-400px'}, duration);
        }

        if (side_login.hasClass('open')) {
          side_login.toggleClass('open');
          side_login.stop(true).animate({left:'-400px'}, duration);
        }

        if (side_signup.hasClass('open')) {
          side_signup.toggleClass('open');
          side_signup.stop(true).animate({left:'-400px'}, duration);
        }
      });
      
      sidebar.find('#login-on').on('click', function() {
        side_login.toggleClass('open');

        if (side_login.hasClass('open')) {
          side_login.stop(true).animate({left:'100px'}, duration);
        } else {
          side_login.stop(true).animate({left:'-400px'}, duration);
        }

        if (side_feed.hasClass('open')) {
          side_feed.toggleClass('open');
          side_feed.stop(true).animate({left:'-400px'}, duration);
        }

        if (side_signup.hasClass('open')) {
          side_signup.toggleClass('open');
          side_signup.stop(true).animate({left:'-400px'}, duration);
        }
      });

      sidebar.find('#signup-on').on('click', function() {
        side_signup.toggleClass('open');

        if (side_signup.hasClass('open')) {
          side_signup.stop(true).animate({left:'100px'}, duration);
        } else {
          side_signup.stop(true).animate({left:'-400px'}, duration);
        }

        if (side_feed.hasClass('open')) {
          side_feed.toggleClass('open');
          side_feed.stop(true).animate({left:'-400px'}, duration);
        }

        if (side_login.hasClass('open')) {
          side_login.toggleClass('open');
          side_login.stop(true).animate({left:'-400px'}, duration);
        }
      });
    });
  </script>
</body>
</html>